<body class="bg-black">
  <div class="navbar navbar-light bg-black ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <%= image_tag("Brandlogo.png", alt: "My Logo", width: "340", height: "90", class: "navbar-brand") %>
        <h2 class = "d-flex align-items-center text-white"><strong><%= @book.title %></strong></h2>
      </a>
    </div>
  </div>
<main class="my-background">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <!--Creating a card for an individual project-->
        <div class="card mb-4 box-shadow">
          <!--Card image thumbnail-->
          <img class="card-img-top  img-fluid" src="<%= (url_for(@book.image)) %>" width="380" height="430" alt="Image of the book <%= @book.title %> cover">
          <!--Creating the individual card-->
          <div class="card-body">
            <h2 class="card-text text-black"><%= @book.title %></h2>
            <p class="card-text text-black"><em><b>Genre:</b> <%= @book.genre %><br><em><b>Rating:</b> <%= @book.rating %><br><b>Published:</b> <%= @book.published %></em></p>
            <p class="card-text text-black"><em><b>Description:</b></em> <%= @book.description %></p>
            <!--Creating the button group-->
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <p>
                  <%= button_to 'Edit Book', edit_book_path(@book), method: :get, class: "btn btn-sm btn-outline-secondary" %>
                  <%= button_to 'Back', books_path, method: :get, class: "btn btn-sm btn-outline-secondary" %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
